body{
	background:		#AAA;
	padding-top:		10px;
	font-family:		Helvetica;
	font-size:			12pt;
}

small{
	float: 			right;
	margin-right:		5%;
}

.divVer, .divMain, .divHead, .divHor, .divImg, .image, button{
	text-align:			center;
	display:				block;
	margin-left:		auto;
	margin-right:		auto;
}

.divMain{
	max-width:			1000px;
	max-height:			740px;
}

.divHead{
	background:			#CCC;
	width:				75%;
	margin-bottom:	10px;
	border-radius:	10px;
	border:				5px solid #888;
	box-shadow:			#222 5px 5px 10px;
}

.divLeft{
	max-width:				69%;
	display:			inline-block;
}

.divRight{
	width:				30%;
	display:			inline-block;
}

.divHor{
	margin-bottom:	10px;
	width:					100%;
}

.divImg, button{
	width:					100%;
}

.image{
	border:				#000 solid 2px;
	min-height:			80px;
	max-height:			500px;
	max-width:			99%;
}

button{
	display:			inline-block;
	width:				78%;
	height:				50px;
	border-radius:			5px;
	font-size:			20pt;
	font-weight:			bold;
	box-shadow:			#222 1px 1px 10px;
	margin-bottom:			5px;
}
.btn-good{
	width:				37%;
	background:			#0FF000;
	border:				green outset 2px;
	margin-right:			auto;
}
.btn-err{
	display:			block;
	background:			#777;
	border:				#000 outset 2px;
}
.btn-poor{
	width:				40%;
	background:			#F00;
	border:				red outset 2px;
	margin-left:			auto;
}
